<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>qvopaymentgateway</name>
    <displayName><![CDATA[QVO - Pago a través de WebPay Plus]]></displayName>
    <version><![CDATA[1.14]]></version>
    <description><![CDATA[Pago con Tarjetas de Crédito o Redcompra]]></description>
    <author><![CDATA[QVO]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[¿Estás seguro de eliminar estos detalles?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
