<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>qvopaymentgateway</name>
    <displayName><![CDATA[QVO Payment Gateway]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Process payments using QVO API Webpay Plus]]></description>
    <author><![CDATA[QVO]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing the gateway?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>